<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.GData.Client" version="2.2.0.0" targetFramework="net40" />
  <package id="Google.GData.Contacts" version="2.2.0.0" targetFramework="net40" />
  <package id="Google.GData.Extensions" version="2.2.0.0" targetFramework="net40" />
  <package id="ILRepack" version="2.0.18" targetFramework="net40" />
  <package id="Microsoft.Office.Interop.Outlook" version="15.0.4797.1003" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="4.0.5" targetFramework="net40" />
</packages>